<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
<div class="container mt-5">
    <h1>About Us</h1>
<h4 class="text-center">Arts is a form of creative expression that conveys ideas, emotions, and perspectives through various mediums such as painting, sculpture, music, dance, literature, and more. It reflects cultural, social, and personal experiences, allowing both the artist and the audience to explore new meanings, evoke emotions, and inspire change. Arts plays a vital role in human communication, transcending language and geographical barriers to connect people across time and space.</h4>
</div>
</body>
</html>